<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionário</title>
</head>
<body>
    <h1>Cadastro de Funcionário</h1>
    <form action="/cadastrar_funcionario" method="post">
        
        <label for="primeiro_nome">Primeiro Nome:</label>
        <input type="text" name="primeiro_nome" required>
        
        <label for="sobrenome">Sobrenome:</label>
        <input type="text" name="sobrenome" required>
        
        <label for="data_admissao">Data de Admissão:</label>
        <input type="date" name="data_admissao" required>
       
        <label>Status do Funcionário:</label>
        <input type="radio" name="status_funcionario" value="1" required> Ativo
        <input type="radio" name="status_funcionario" value="0" required> Inativo
        
        <label for="id_setor">Setor:</label>
        <select name="id_setor" required>
            {% for setor in setores %}
            <option value="{{ setor.id }}">{{ setor.nome }}</option>
            {% endfor %}
        </select>
        
        <label for="id_cargo">Cargo:</label>
        <select name="id_cargo" required>
            {% for cargo in cargos %}
            <option value="{{ cargo.id }}">{{ cargo.nome }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Cadastrar">
        <button type="button" onclick="history.back()">Voltar</button>
    </form>
    
</body>
</html>
